<!DOCTYPE html>
<html lang = "en">
  <head>
    <title><%= yield(:title)%></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  
  <body>
    <header>
      <div class="topnav">
        <nav>
          <ul>
            <li class = "links"><%= link_to "Home",   '/' %></li>
            <li class = "links"><%= link_to "Projects",   '/project_infos' %></li>
     

                          <%
          if yield(:pageName).eql? "projects" %>
      <li id = "projectPageButton"><%= link_to(image_tag("add3.png",class:"addButton", alt: "Add Project"), add_projects_add_path,  :method => :get) %></li>
          </ul>

        <%end%>
        </nav>

      
      </div>
    </header>
    <%= yield %>

    <footer id = "footer">
      <p class="footer-text">Chase Snodgrass</p>
      <p class="footer-text">Contact information: <a href="mailto:csnodgrass233@gmail.com">csnodgrass233@gmail.com</a>.</p>
    </footer>
  
  </body>
</html>
