<!DOCTYPE html>
<html lang = "en">
  <head>
    <title>IndividualProject</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  
  <body>
    <header>
      <div class="topnav">
        <nav>
          <ul>
            <li class = "links"><%= link_to "Home",   '/' %></li>
            <li class = "links"><%= link_to "Projects",   '/project_infos' %></li>
            <li class = "links"><%= link_to "About Me", '#' %></li>

                          <%
          if yield(:pageName).eql? "projects" %>
      <li id = "projectPageButton"><%= link_to(image_tag("add3.png",class:"addButton", alt: "Add Project"), add_projects_add_path,  :method => :get) %></li>
          </ul>

        <%end%>
        </nav>

      
      </div>
    </header>
    <div class = "contents">
      <%= yield %>
    <div>
  </body>
</html>
