<!DOCTYPE html>
<html>
  <head>
    <title>IndividualProject</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  
  <body>
    <header>
      <div class="topnav">
        <nav>
          <ul>
            <li class = "links"><%= link_to "Home",   '/' %></li>
            <li class = "links"><%= link_to "Projects",   '/project_infos' %></li>
            <li class = "links"><%= link_to "About Me", '#' %></li>
          </ul>
        </nav>
      </div>
    </header>
    <div class = "contents">
      <%= yield %>
    <div>
  </body>
</html>
